@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  background-color: darkblue;
}

img {
  max-width: 400px;
  height: auto;

}

.answer-button {
  border-style: dashed;
}

// .layout {
//   background-image: url('client/assets/images/disneybg.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   width: 100vw;
//   height: 100vh;
// }