@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 400px;
  height: auto;

}

.answer-button {
  border-style: dashed;
}